body {
  margin: 0;
  font-family: Inter, system-ui, Arial;
  background: #1e1f22;
}

/* CENTER JOIN SCREEN */

.join {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.join h2 {
  color: white;
  margin-bottom: 10px;
}

.join input,
.join select {
  width: 220px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #2b2d31;
  color: white;
}

.join button {
  width: 220px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #5865f2;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.join button:hover {
  background: #4752c4;
}

/* CHAT LAYOUT */

.chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* MESSAGE AREA */

.messages {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

/* INDIVIDUAL MESSAGE */

.msg {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  color: #e3e3e3;
}

.msg span {
  font-size: 20px;
}

/* INPUT BAR */

.input {
  display: flex;
  padding: 20px;
  background: #2b2d31;
  gap: 10px;
}

.input input {
  flex: 1;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: #1e1f22;
  color: white;
}

.input button {
  padding: 12px 18px;
  border-radius: 6px;
  border: none;
  background: #5865f2;
  color: white;
  cursor: pointer;
}

.input button:hover {
  background: #4752c4;
}
